* {
  margin: 0;
}

header, footer {
  background-color: lavender;
  padding: 20px;
}

body, html {
  height: 100%;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin:15px;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  
  button {
    height: 50px;
    width: 100px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lavender;
    color: blueviolet;
    border: 0;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: blueviolet;
    color: lavender;
  }

  img {
    height: 200px;
    width: 250px;
  }

  .output {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-top: 20px;
  }

  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

  .prompt {
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .question div {
    margin-top: 20px;
    text-align: center;
  }